// Sass Variables
$primary: #e15200;
$orange: #e15200;
$grey: #595959;
$blue: #003b5c;
$blue-text: #003a5c;
$blue-text2: #001f37;
$soft-blue: #425a66;
// $body-color: #FFFFFF;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-box-shadow: unset;
$btn-focus-width: 0;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
     xs: 0,
     sm: 576px,
     md: 768px,
     lg: 992px,
     xl: 1200px,
     xxl: 1440px,
);
$font-size-base: rem(18px);
$h1-font-size: $font-size-base * 2.77777777778; //50px
$h2-font-size: $font-size-base * 2.5; //45px
$h3-font-size: $font-size-base * 2.22222222222; //40px
$h4-font-size: $font-size-base * 1.66666666667; //30px
$h5-font-size: $font-size-base * 1.11111111111; //20px
$h6-font-size: $font-size-base; //18px

$font-size-mb-30: $font-size-base * 1.66666666667; //30px
$font-size-mb-35: $font-size-base * 1.94444444444; //35
$font-size-mb-40: $font-size-base * 2.22222222222; //40
// $font-size-base: 1.125rem;
// $h1-font-size: $font-size-base * 2.77777777778;
// $h2-font-size: $font-size-base * 2.5;
// $h3-font-size: $font-size-base * 2.22222222222;
// $h4-font-size: $font-size-base * 1.66666666667;
// $h5-font-size: $font-size-base * 1;
// $h6-font-size: $font-size-base;
$enable-rfs: false;

$font-Produkt: Produkt Web, Arial;
$font-proxima-nova: proxima-nova, san-serif;
