.brands{
    padding: 100px 0px;
    overflow: hidden;
    .row{
        --bs-gutter-x: 50px;
    }
    .wrapper{
        max-width: 1440px;
        text-align: center;
        position: relative;
        &:after{
            content: url(/assets/images/home/bg_brands.png);
            position: absolute;
            right: -25px;
            top: -120px;
            opacity: .1;
        }
    }
    &__container{
        max-width: 950px;
        text-align: center;
        margin: 0 auto;
    }
    &__sub-title{
        @include sub-title;
        font-size: 14px;
    }
    h2{
        margin-bottom: 72px;
        color: $blue-text2;
    }
    img{
        width: 100%;
    }
}