.categories{
    padding: 72px;
    background-color: #F7F8F9;
    color: #001F37;
    .wrapper{
        max-width: 1440px;
        text-align: center;
    }
    h2{
        margin-bottom: 52.5px;
    }
    .btn{
        margin-top: 49.55px;
    }
    &__sub-title{
        @include sub-title();
        font-size: 14px;
    }
    &__card{
        text-decoration: none;
        display: block;
        cursor: pointer;
        color: #001F37;
        padding-top: 26.5px;
        padding-bottom: 0px;
        text-align: center;
        background-color: $white;
        border-radius: 14px;
        height: 100%;
        transition: .5s all;
        &:hover{
            transition: .5s all;
            background-color: rgba(0, 31, 55, .85);
            color: white;
            img{
                filter: brightness(0) invert(1);
            }
        }
    }
}