.categories{
    padding: 72px;
    background-color: #F7F8F9;
    color: #001F37;
    .wrapper{
        max-width: 1440px;
        text-align: center;
    }
    .row{
        max-width: 1295px;
        margin: 0 auto;
        justify-content: center;
    }
    h2{
        margin-bottom: 52.5px;
    }
    .btn{
        margin-top: 49.55px;
    }
    &__card{
        text-decoration: none;
        display: block;
        cursor: pointer;
        color: #001F37;
        padding-top: 26.5px;
        padding-bottom: 0px;
        text-align: center;
        background-color: $white;
        border-radius: 14px;
        height: 100%;
        transition: .5s all;
        &:hover{
            transition: .5s all;
            background-color: rgba(0, 31, 55, .85);
            color: white;
            img{
                filter: brightness(0) invert(1);
            }
        }
    }
}
// Responsive desktop 1
@media screen and (max-width: 1439px) {
    .categories{
        .wrapper{
            max-width: 1440px;
        }
        .row{
            max-width: 1295px;
        }
        .col:nth-last-child(2){
            margin-left: 12.5%;
        }
        .col:last-child{
            margin-right: 12.5%;
        }
    }
}
// Responsive tablet 2
@media screen and (max-width: 1199px) {
    .categories{
        padding-left: 50px;
        padding-right: 50px;
        .wrapper{
            max-width: 1199px;
        }
        .row{
            max-width: 1199px;
        }
        .col:nth-last-child(2){
            margin-left: 0px;
        }
        .col:last-child{
            margin-right: 0px;
        }
    }
}
// Responsive tablet 1
@media screen and (max-width: 991px) {

}
// Responsive mobile
@media screen and (max-width: 767px) {
    .categories{
        padding-left: 7.5px;
        padding-right: 7.5px;
        h2{
            margin-bottom: 42.5px;
        }
        .btn{
            margin-top: 42.5px;
        }
        .wrapper{
            max-width: 767px;
        }
        .col{
            --bs-gutter-y: 0px;
            --bs-gutter-x: 0px;
            padding: 7.5px;
        }
        .row{
            max-width: 100%;
        }
    }
}