.categories {
     background-color: #f7f8f9;
     color: #001f37;
     .wrapper {
          text-align: center;
     }
     .row {
          max-width: 1295px;
          margin: 0 auto;
          justify-content: center;
     }
     h2 {
          margin-bottom: 52.5px;
     }
     .btn {
          margin-top: 49.55px;
     }
     &-card {
          text-decoration: none;
          display: block;
          cursor: pointer;
          color: #001f37;
          padding-top: 26.5px;
          padding-bottom: 0px;
          text-align: center;
          background-color: $white;
          border-radius: 14px;
          height: 100%;
          transition: 0.5s all;
          &:hover {
               transition: 0.5s all;
               background-color: rgba(0, 31, 55, 0.85);
               color: white;
               img {
                    filter: brightness(0) invert(1);
               }
          }
     }
}
// Responsive desktop 1
@media screen and (max-width: 1439px) {
     .categories {
          .row {
               max-width: 1295px;
          }
          .col:nth-last-child(2) {
               margin-left: 12.5%;
          }
          .col:last-child {
               margin-right: 12.5%;
          }
     }
}
// Responsive tablet 2
@media screen and (max-width: 1199px) {
     .categories {
          .row {
               max-width: 1199px;
          }
          .col:nth-last-child(2) {
               margin-left: 0px;
          }
          .col:last-child {
               margin-right: 0px;
          }
     }
}
// Responsive tablet 1
@media screen and (max-width: 991px) {
}
// Responsive mobile
@media screen and (max-width: 767px) {
     .categories {
          padding-left: 7.5px;
          padding-right: 7.5px;
          h2 {
               margin-bottom: 42.5px;
          }
          .btn {
               margin-top: 42.5px;
          }
          .col {
               --bs-gutter-y: 0px;
               --bs-gutter-x: 0px;
               padding: 7.5px;
          }
          .row {
               max-width: 100%;
          }
     }
}
