.contact {
     &-title {
          background-color: #001424;
          color: $white;
          position: relative;
          overflow: hidden;

          &:before {
               content: '';
               background: #001424;
               background: radial-gradient(circle, #3b00e1 0%, #001424 100%);
               background-repeat: no-repeat;
               border-radius: 50%;
               opacity: 0.2;
               background-size: cover;
               position: absolute;
               width: 100%;
               height: 200px;
               bottom: -105px;
               left: 27%;
               transform: translateX(-50%);
               filter: blur(100px);
               z-index: 0;
          }
          &:after {
               content: '';
               background: #001424;
               background: radial-gradient(circle, #0094eb 0%, #001424 100%);
               background-repeat: no-repeat;
               border-radius: 0%;
               opacity: 0.5;
               background-size: cover;
               position: absolute;
               width: 100%;
               height: 260px;
               bottom: -127px;
               right: 25%;
               transform: translate(50%);
               filter: blur(50px);
               z-index: 0;
          }
          .wrapper {
               position: relative;
               z-index: 1;
          }
     }
     &-box {
          background-color: #e4e4e4;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: flex-start;
          &:not(:last-child) {
               margin-right: 20px;
          }
          &--text {
               color: $blue-text2;
          }
     }
}
// Responsive desktop 1
@media screen and (max-width: 1439px) {
}
// Responsive tablet 2
@media screen and (max-width: 1199px) {
     .contact {
          .row {
               flex-flow: column;
               .col {
                    display: block;
               }
          }
          &-box {
               background-color: #e4e4e4;
               display: flex;
               flex-flow: column;
               justify-content: space-between;
               &:not(:last-child) {
                    margin-right: 0px;
                    margin-bottom: 20px;
               }
          }
     }
}
// Responsive tablet 1
@media screen and (max-width: 991px) {
}
// Responsive mobile
@media screen and (max-width: 767px) {
     .contact {
          h1 {
               font-size: 30px;
          }
     }
}
