// Footer
.footer {
     background-color: $blue-text2;
     color: $white;
     .list-unstyled li a {
          color: #adb7be;
     }
     .list-unstyled li a:hover {
          color: $white;
     }
     &-logo {
          img {
               max-height: 34px;
          }
     }
     &-top,
     &-bottom {
          justify-content: space-between;
     }
     &-bottom {
          margin-top: 50px;
     }
     &-imgs {
          display: inline-block;
          margin-bottom: 20px;
          white-space: nowrap;
          a {
               display: inline-block;
               vertical-align: middle;
          }
          img {
               max-height: 34px;
          }
     }
     ul {
          padding: 0px;
          margin: 0px;
          columns: 2;
          column-gap: 0px;
          list-style-position: inside;
          a {
               display: block;
               white-space: nowrap;
          }
     }
     h6 {
          text-transform: uppercase;
     }
     a {
          text-decoration: none;

          &:hover {
               color: $white;
          }
     }
     li {
          text-transform: uppercase;
          list-style-type: none;
          // width: 45%;
     }
     &-bottom {
          justify-content: space-between;
          &-left {
               display: inherit;
               align-items: center;
               h6 {
                    margin-bottom: 0px;
               }
          }
          &-right {
               padding-right: 50px;
               text-align: right;
               text-transform: uppercase;
          }
          a:first-child {
               margin-right: 21px;
          }
     }
     #menu-copyright-menu li:not(:last-child):after {
          display: none;
     }
     footer #menu-copyright-menu li:first-child {
          margin-right: 21px;
     }
     #menu-copyright-menu {
          text-align: right;
          display: flex;
          justify-content: flex-end;
     }
}
// Responsive desktop 1
@media screen and (max-width: 1439px) {
     .footer {
          &-logo {
               margin-bottom: 20px;
          }
          &-top {
               justify-content: flex-start;
               &-col:not(:last-child) {
                    margin-right: 50px;
               }
          }
     }
}
// Responsive tablet 2
@media screen and (max-width: 1199px) {
}
// Responsive tablet 1
@media screen and (max-width: 991px) {
     .footer {
          &-top {
               &-col:not(:last-child) {
                    margin-right: 0px;
               }
               &-col:nth-child(2) {
                    margin-right: 100px;
               }
               &-col:last-child {
                    margin-top: 38px;
               }
          }
          &-bottom {
               position: relative;
               padding-top: 50px;
               margin-top: 30px;
               &-right {
                    padding-right: 0px;
                    text-align: left;
                    position: absolute;
                    left: 0px;
                    top: -10px;
               }
               &-left {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    h6 {
                         margin: 0 auto;
                    }
               }
               a:first-child {
                    margin-right: 21px;
               }
          }
     }
}
// Responsive mobile
@media screen and (max-width: 767px) {
     .footer {
          .list-unstyled li a {
               font-size: 14px;
          }
          &-top {
               flex-flow: column;
               &-col:nth-child(2) {
                    margin-right: 0px;
               }
               &-col {
                    margin-right: 0px;
                    margin-bottom: 20px;
               }
               &-col:last-child {
                    margin-top: 0px;
               }
          }
     }
}
