// Header
header {
     ul {
          padding: 0px;
          margin: 0px;
     }
     li {
          list-style-type: none;
     }
     .menu-top-navigation-left {
          list-style-type: none;
          display: flex;
          margin-bottom: 0px;
          a {
               @include border-right;
               @extend .nav-link;
               @extend .btn-fill--white;
               font-size: 15px;
               white-space: nowrap;
          }
     }
     .menu-top-navigation-right {
          list-style-type: none;
          display: flex;
          margin-bottom: 0px;
          .menu-item:not(:last-child) {
               a {
                    @extend .nav-link;
                    @extend .btn-fill--white;
                    @extend .btn-color--orange;
                    @include border-left;
                    font-size: 15px;
               }
          }
          .menu-item:last-child {
               a {
                    display: block;
                    border-left: 0px;
                    @extend .btn-fill--orange;
                    text-decoration: none;
                    font-size: 15px;
               }
          }
     }

     .navbar,
     .col {
          padding: 0px;
     }
     .nav {
          &-desktop {
               height: auto;
          }
          &-left {
               .nav-link {
                    @include border-right;
               }
               &--line {
                    a,
                    img {
                         height: 100%;
                         width: auto;
                         object-fit: contain;
                    }
               }
          }
          &-right {
               .nav-link {
                    @include border-left;
                    // &:last-child {
                    //      border-left: 0px;
                    // }
               }
               &--line {
                    a {
                         height: 100%;
                    }
               }
               svg {
                    margin-left: 5px;
                    fill: $orange;
                    height: 19px;
                    vertical-align: top;
               }
          }

          &-mobile {
               display: none;
               cursor: pointer;
          }
     }
}

// Responsive desktop 1
@media screen and (max-width: 1439px) {
}
// Responsive tablet 2
@media screen and (max-width: 1199px) {
     header {
          .nav {
               &-left {
                    flex-wrap: wrap;
                    &--line {
                         width: 100%;
                         border-right: 0px;
                         border-bottom: 1px solid #eaeaea;
                         a {
                              border-right: unset !important;
                         }
                    }
                    img {
                         height: 36.5px;
                    }
               }
               &-right {
                    flex-wrap: wrap;
               }
               .navbar,
               .menu-top-navigation-right-container,
               .menu-top-navigation-left-container {
                    width: 100%;
               }
               .menu-top-navigation-right {
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    .menu-item:first-child {
                         order: 2;
                    }
                    .menu-item:nth-child(2) {
                         order: 1;
                         width: 100%;
                         text-align: right;
                         border-bottom: 1px solid #eaeaea;
                         a:last-child {
                              height: 100%;
                              display: inline-block;
                              border-left: 1px solid #eaeaea;
                         }
                    }
                    .menu-item:last-child {
                         order: 3;
                    }
               }
          }
     }
}
// Responsive tablet 1
@media screen and (max-width: 991px) {
}
// Responsive mobile
@media screen and (max-width: 767px) {
     header {
          .menu-top-navigation-left {
               flex-flow: column;
               .menu-item {
                    a {
                         border-bottom: 1px solid #eaeaea;
                         border-right: 0px;
                    }
               }
          }

          .nav {
               .menu-top-navigation-right {
                    justify-content: flex-start;
                    .menu-item:first-child {
                         width: 100%;
                         order: 1;
                         border-bottom: 1px solid #eaeaea;
                         color: $blue-text;
                    }
                    .menu-item:nth-child(2) {
                         order: 2;
                         border-bottom: 0px;
                         a:last-child {
                              border-left: 0px;
                         }
                    }
                    .menu-item:last-child {
                         width: 100%;
                         order: 3;
                    }
               }
               &-left {
                    &--line {
                         display: none;
                    }
               }
               &-desktop {
                    flex-flow: column;
                    align-items: flex-start;
                    height: 0;
                    overflow: hidden;
               }
               .col {
                    flex-flow: column;
                    align-items: flex-start;
                    width: 100%;
               }
               &-link {
                    width: 100%;
                    text-align: left;
               }
               &-mobile {
                    padding-top: 21px;
                    padding-bottom: 21px;
                    padding-left: 30px;
                    padding-right: 20px;
                    display: flex;
                    justify-content: space-between;
                    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                    position: relative;
                    z-index: 1;
                    i {
                         font-size: 32px;
                         color: $blue;
                    }
               }
          }
     }
}
