.help-center {
     color: $blue-text2;
     .wrapper {
          text-align: center;
     }
     h6 {
          text-transform: uppercase;
     }
}
// Responsive desktop 1
@media screen and (max-width: 1439px) {
}
// Responsive tablet 2
@media screen and (max-width: 1199px) {
}
// Responsive tablet 1
@media screen and (max-width: 991px) {
}
// Responsive mobile
@media screen and (max-width: 767px) {
}
