.how-work {
     background-color: rgba(225, 82, 0, 0.75);
     color: $white;
     .wrapper {
          max-width: 1076px;
     }
     .row {
          justify-content: center;
          align-items: flex-start;
     }
     h2 {
          margin-bottom: 50px;
     }
     .col-12 {
          max-width: 292px;
     }
     .col-12:nth-child(2n + 2) {
          padding: 0px 50px;
          max-width: 392px;
     }
     .col-12:last-child {
          padding: 0px;
     }
}

// Responsive desktop 1
@media screen and (max-width: 1439px) {
     .how-work {
          .wrapper {
               max-width: 1076px;
          }
     }
}
// Responsive tablet 2
@media screen and (max-width: 1199px) {
     .how-work {
          .col-12 {
               max-width: 292px;
          }
          .col-12:nth-child(2n + 2) {
               padding: 0px 20px;
               max-width: 322px;
          }
          .col-12:last-child {
               padding: 0px;
          }
     }
}
// Responsive tablet 1
@media screen and (max-width: 991px) {
}
// Responsive mobile
@media screen and (max-width: 767px) {
     .how-work {
          .col-12 {
               max-width: 292px;
          }
          .col-12:nth-child(2n + 2) {
               padding: 0px 10px;
               max-width: 322px;
          }
          .col-12:last-child {
               padding: 0px;
          }
          .row {
               flex-wrap: wrap;
          }
          .col-12 {
               flex: 1 0 100%;
               max-width: 100%;
          }
          h2 {
               // font-size: 30px;
          }
     }
}
