.intro{
    color: $white;
    .wrapper{
        padding: 100px 0px;
        padding-left: 72px;
        max-width: 1440px;
    }
    .btn{
        width: auto;
    }
    &__layout1{
        background-color: #425A66;
        h1{
            font-size: 75px;
        }
        .wrapper{
            background: url(/assets/images/home/banner.png);
        }
        .col{
            max-width: 513.5px;
        }
    }
    &__layout2{
        padding-right: 72px;
        background: linear-gradient(170deg, rgba(0,20,36,1) 0%, rgba(0,20,36,1) 51%), linear-gradient(170deg, rgba(0,148,235,0.8071603641456583) 52%, rgba(0,148,235,0.8071603641456583) 100%);
        background-position: bottom left, right;
        img{
            width: 100%;
        }
        &--count{
            margin-top: 49px;
            h2{
                display: inline-block;
            }
            img{
                width: auto;
            }
        }
        .count{
            position: relative;
        }
        &--num1{
            &:after{
                content: url(/assets/images/home/pin_icon.png);
                position: absolute;
                right: -25px;
                top: -2px;
            }
            font-size: 50px !important;
        }
        &--num2{
            font-size: 44px;
        }
        &--num3{
            font-size: 44px;
        }
    }
}
// Responsive desktop 1
@media screen and (max-width: 1439px) {

}
// Responsive tablet 2
@media screen and (max-width: 1199px) {
    .intro{
        .wrapper{
            padding-left: 50px;
            max-width: 1199;
        }
        &__layout1{
            h1{
            }
            .wrapper{
            }
            .col{
                max-width: 580.5px;
            }
        }
        &__layout2{
            img{
                
            }
        }
    }
}
// Responsive tablet 1
@media screen and (max-width: 992px) {

}
// Responsive mobile
@media screen and (max-width: 767px) {
    .intro{
        .wrapper{
            padding: 50px 0px;
            padding-left: 15px;
            padding-right: 15px;
            max-width: 767px;
        }
        &__layout1{
            h1{
                font-size: 40px;
            }
            .wrapper{
            }
            .col{
                max-width: 580.5px;
            }
        }
        &__layout2{
            img{
                
            }
        }
    }
}