.intro {
     color: $white;
     .wrapper {
          padding: 100px 72px;
          max-width: 1440px;
     }
     .btn {
          width: auto;
     }
     &-layout1 {
          background-color: #425a66;
          .wrapper {
               background: url(/assets/images/home/banner.png);
               background-position: center top;
          }
          .col {
               max-width: 513.5px;
          }
     }
     &-layout2 {
          background: linear-gradient(170deg, rgba(0, 20, 36, 1) 0%, rgba(0, 20, 36, 1) 51%),
               linear-gradient(170deg, rgba(0, 148, 235, 0.8071603641456583) 52%, rgba(0, 148, 235, 0.8071603641456583) 100%);
          background-position: bottom left, right;
          img {
               width: 100%;
          }
          &-btn {
               display: flex;
               justify-content: flex-start;
               .btn:first-child {
                    margin-right: 20px;
               }
          }
          &-count {
               margin-top: 49px;
               text-align: center;
               justify-content: space-around;
               h1,
               h2 {
                    display: inline;
               }
               img {
                    width: auto;
               }
          }
          .count {
               position: relative;
          }
          &-num1 {
               margin-left: -25px;
               &:after {
                    content: url(/assets/images/home/pin_icon.png);
                    position: absolute;
                    right: -25px;
                    top: -2px;
               }
          }
          &-num2 {
          }
          &-num3 {
          }
     }
}
// Responsive desktop 1
@media screen and (max-width: 1439px) {
}
// Responsive tablet 2
@media screen and (max-width: 1199px) {
     .intro {
          .wrapper {
               padding-left: 50px;
               padding-right: 50px;
               max-width: 1199;
          }
          &-layout1 {
               .col {
                    max-width: 512.5px;
               }
          }
          &-layout2 {
               &-right {
                    display: none;
               }
               &-count {
                    justify-content: center;
                    .col:nth-child(2) {
                         margin: 0px 20px;
                    }
               }
               &-num1 {
                    &:after {
                         display: none;
                    }
               }
          }
     }
}
// Responsive tablet 1
@media screen and (max-width: 991px) {
     .intro {
          .wrapper {
               max-width: 991px;
          }
          &-layout1 {
               .col {
                    // max-width: 534.5px;
               }
          }
          &-layout2 {
          }
     }
}
// Responsive mobile
@media screen and (max-width: 767px) {
     .intro {
          .wrapper {
               padding: 50px 15px;
               max-width: 767px;
          }
          &-layout1 {
               .col {
                    max-width: 100%;
               }
          }
          &-layout2 {
               &-count {
                    justify-content: space-between;
                    .col:first-child {
                         margin-right: 7.5px;
                         width: calc(50% - 7.5px);
                    }
                    .col:nth-child(2) {
                         margin: 0px;
                         margin-left: 7.5px;
                         width: calc(50% - 7.5px);
                    }
                    .col:last-child {
                         margin: 0 auto;
                    }
               }
               &-btn {
                    .btn {
                         flex: 0 0 calc(50% - 12.5px);
                    }
                    .btn:first-child {
                         margin-right: 12.5px;
                    }
                    .btn:last-child {
                         margin-left: 12.5px;
                    }
               }
          }
     }
}
