.looking-work {
     background-color: #001424;
     color: $white;
     p {
          width: 744px;
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
     }
}

// Responsive desktop 1
@media screen and (max-width: 1439px) {
}
// Responsive tablet 2
@media screen and (max-width: 1199px) {
     .looking-work {
          p {
               width: 100%;
          }
     }
}
// Responsive tablet 1
@media screen and (max-width: 991px) {
}
// Responsive mobile
@media screen and (max-width: 767px) {
}
